*{
    margin: 0;
    padding: 0; 
}
#top{
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    background:linear-gradient(45deg,darkblue,black,white);
    color: white;
    line-height: 50px;
}
.content{
    background:linear-gradient(130deg,darkviolet,darkblue,black,white);
    height: 500px;
}
.inner{
    display: flex;
    justify-content: space-evenly;
}
img{
    height: 100px;
    width: 100px;
    margin-top: 10px;
    border-radius: 50%;
    object-fit: cover;
}
img:hover{
    animation: roam 1s ease-in 0ms infinite;
    border-top: 5px solid aqua;
    border-bottom: 5px solid black;
}
@keyframes roam {
    from{

    }
    to{border-radius: 2px solid purple;
        border-left: 5px solid aquamarine;
        border-right: 5px solid darkorchid;
    }
    
}
#mssg{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    color: aliceblue;
    
}
.scoreCard{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    color: white;
}
button{
    background:linear-gradient(30deg,lightblue,orchid);
    width: 50px;
}